<!DOCTYPE html>
<html lang='en'>
  <head>

    <!--
      ===================================
                  Stylesheet
      ===================================
    -->

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ubuntu+Mono'>
    <style>

      body { position: relative; display: block; padding: 1px; margin: 0; color: #272822; background-color: #f9f9f9; font-family:  'Ubuntu Mono'; font-size: 14px; }
      h1 { margin: 48px; text-align: center; }

      .wrapper { position: relative; display: block; width: 720px; max-width: 80%; margin: auto; overflow: hidden; }
      .tablelist { float: left; position: relative; display: block; box-sizing: border-box; width: 24%; padding: 16px; padding-left: 32px; margin: 0; border-radius: 4px; color: #f9f9f9; box-shadow: 0 0 2px #272822; background-color: #272822; overflow: hidden; vertical-align: top; }
      .tablelist > li { margin: 8px; cursor: pointer; }
      .form { float: right; position: relative; display: block; box-sizing: border-box; width: 74%; padding: 16px; margin: 0; border-radius: 4px; color: #f9f9f9; box-shadow: 0 0 2px #272822; background-color: #272822; overflow: hidden; }
      .form input { display: block; box-sizing: border-box; width: 180px; max-width: 80%; padding: 8px 16px; margin: 12px; border: none; outline: none; border-radius: 4px; font-size: inherit; font-family: inherit; opacity: 0.6; transition: opacity 0.4s ease-in-out; }
      .form input[type='file'] { padding-left: 0; }
      .form input:focus { opacity: 1; }
      .form select { -webkit-appearance: none; -moz-appearance: none; appearance: none; display: block; box-sizing: border-box; width: 180px; max-width: 80%; padding: 8px 12px; margin: 12px; font-size: inherit; font-family: inherit; opacity: 0.6; transition: opacity 0.4s ease-in-out; outline: none; color: rgba(39, 40, 34, 0.5); font-weight: bold; }
      .form select:focus { opacity: 1; }
      .form button { float: right; position: relative; display: inline-block; padding: 8px 12px; margin-top: 8px; border-radius: 4px; border: none; outline: none; cursor: pointer; font-family: inherit; font-size: 0.8rem; opacity: 0.2; text-transform: uppercase; transition: opacity 0.4s ease-in-out; }
      .form button:hover { opacity: 0.8; }
    </style>

    <title>Movies & Series Database</title>
  </head>
  <body>

    <!--
      ===================================
                     HTML
      ===================================
    -->

    <h1>Movies & Series Database Admin</h1>
    <div class='wrapper'>
      <ul id='tablelist' class='tablelist'></ul>
      <form id='form' class='form'>
        <div>Select table for insert data to database.</div>
        <button type='submit'>Insert</button>
      </form>
    </div>

    <!-- <form id='query-form' action='/ajax' method='post'>
      <input type='text' name='username'>
      <input type='password' name='password'>
      <input type='submit' value='Submit'>
    </form> -->

    <!--
      ===================================
                  JavaScript
      ===================================
    -->

    <script>

      function ajaxRequest(url, callback) {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
          if (req.readyState === 4 && req.status === 200) {
            callback(req.responseText);
          }
        }
        req.open('POST', url, true);
        req.send();
      }

      function ajaxPost(url, params, callback) {
        var req  = new XMLHttpRequest();
        req.onreadystatechange = function () {
          if (req.readyState === 4 && req.status === 200) {
            callback(req.responseText);
          }
        }
        req.open('POST', url, true);
        req.send(params);
      }

      function createTable(data) {
        var tablelist = document.getElementById('tablelist');
        tablelist.addEventListener('click', function (event) {
          if (event.target.tagName === 'LI') {
            data.forEach(function (tableData) {
              if (tableData.name === event.target.textContent) {
                var form = document.getElementById('form');
                createForm(tableData);
                form.dataset.tableData = JSON.stringify(tableData);
              }
            });
          }
        });
        data.forEach(function (tableData) {
          var item = document.createElement('LI');
          item.textContent = tableData.name;
          tablelist.appendChild(item);
        });
      }

      function createForm(tableData) {
        var form = document.getElementById('form');
        form.replaceChild(document.createElement('DIV'), form.firstElementChild);
        form = form.firstElementChild;
        tableData.attr.forEach(function (attrData) {
          var input = document.createElement('INPUT'),
              type  = { INTEGER: 'number', REAL: 'number', TEXT: 'text', BLOB: 'file' };
          input.name = attrData.name;
          input.type = type[attrData.type]
          input.placeholder = attrData.name;
          form.appendChild(input);
        });
        tableData.foreign.forEach(function (foreignData) {
          var select = document.createElement('SELECT'),
              alias  = 'Name';
          ajaxPost('/select', JSON.stringify({
            query: ' SELECT ' + foreignData.name + ' , ' + alias + ' FROM ' + foreignData.ref
          }), function (responseText) {
            var records = JSON.parse(responseText);
            records.forEach(function (record) {
              var option = document.createElement('OPTION');
              option.textContent = record[alias];
              option.value = record[foreignData.name];
              select.appendChild(option);
            });
          });
          var defaultOption = document.createElement('OPTION');
          defaultOption.textContent = foreignData.name;
          defaultOption.setAttribute('selected', '');
          defaultOption.setAttribute('disabled', '');
          select.name = foreignData.name;
          select.insertBefore(defaultOption, select.firstElementChild);
          form.replaceChild(select, form.querySelector('[name=' + foreignData.name + ']'))
        });
      }

      function schemaHandler(data) {
        createTable(data);
      }

      document.addEventListener('DOMContentLoaded', function () {
        ajaxRequest('/schema', function (responseText) {
          schemaHandler(JSON.parse(responseText));
        });

        var form = document.getElementById('form');
        form.addEventListener('submit', function (event) {
          var formData  = [],
              tableData = JSON.parse(form.dataset.tableData);
          tableData.attr.forEach(function (attrData) {
            var value = form.querySelector('[name=' + attrData.name + ']').value;
            if (arrtData.type === "INTEGER") {
              value = parseInt(value);
            }
            if (attrData.type === 'REAL') {
              value = parseFloat(value);
            }
            var obj = {};
            obj[attrData.name] = value;
            formData.push(obj);
          });
          formData.push({ table: tableData.name });
          ajaxPost('/insert', formData, function (responseText) {
            console.log(responseText);
          });
          event.preventDefault();
        });
      });

    </script>
  </body>
</html>
