
<!DOCTYPE html>

<html lang='en'>
  <head>
    <title>Movies & Series Database</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Ubuntu+Mono'>
    <style>
      body {
        position: relative;
        display: block;
        padding: 0;
        margin: 0;
        background-color: #f9f9f9;
        font-family:  'Ubuntu Mono';
      }
    </style>
  </head>
  <body>
    <form id='form' action='/ajax' method='post'>
      <input type='text' name='username'>
      <input type='password' name='password'>
      <input type='submit' value='Submit'>
    </form>
    <script>
      function ajaxRequest(url) {
        var req = new XMLHttpRequest();
        req.onreadystatechange = function () {
          if (req.readyState === 4 && req.status === 200) {
            // req.responseText
          }
        }
        req.open('POST', url, true);
        req.send();
      }

      function ajaxPost(form) {
        var req  = new XMLHttpRequest();
            url  = '/ajax';
            data = new FormData(form);
        req.onreadystatechange = function () {
          if (req.readyState === 4 && req.status === 200) {
            // req.responseText
          }
        }
        req.open('POST', form.action, true);
        req.send(data);
      }

      var form = document.getElementById('form');
      form.addEventListener('submit', function (event) {
        ajaxPost(form);
        event.preventDefault();
      });
    </script>
  </body>
</html>
